<div id="playermap">
<h1><{$smarty.const._VIEW}></h1>
<dl class="viewDetail">
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_RECRUIT_ID}></dt>
  <dd><{$object->getShow('recruit_id')}></dd>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_UID}></dt>
  <dd><{$object->getShow('uid')|xoops_user:user_name}></dd>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_ENDTIME}></dt>
  <dd><{$object->getShow('endtime')|xoops_formattimestamp:m}></dd>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_DESCRIPTION}></dt>
  <dd><{$object->getShow('description')}></dd>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

</dl>
</div>
