<div id="playermap">
<h1><{$smarty.const._MD_PLAYERMAP_LANG_RECRUIT_DELETE}></h1>

<div class="confirm"><{$smarty.const._MD_PLAYERMAP_MESSAGE_CONFIRM_DELETE}></div>

<form action="./index.php?action=RecruitDelete" method="post">
  <dl>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_RECRUIT_ID}></dt>
  <dd><{$object->getShow('recruit_id')}></dd>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_UID}></dt>
  <dd><{$object->getShow('uid')|xoops_user:user_name}></dd>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_ENDTIME}></dt>
  <dd><{$object->getShow('endtime')|xoops_formattimestamp:m}></dd>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_DESCRIPTION}></dt>
  <dd><{$object->getShow('description')}></dd>
  <dt><{$smarty.const._MD_PLAYERMAP_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

    <dd>
      <{xoops_token form=$actionForm}>
      <{xoops_input type=hidden name=recruit_id value=$actionForm->get('recruit_id')}>
      <input type="submit" class="formButton" value="<{$smarty.const._DELETE}>"/>
      <input type="submit" class="formButton" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"/>
    </dd>
  </dl>
</form>
</div>
