<div id="playermap">
<h1><{$smarty.const._MD_PLAYERMAP_LANG_RECRUIT}><{$smarty.const._LIST}></h1>
<ul class="toptab">
  <li><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname action=edit}>"><{$smarty.const._MD_PLAYERMAP_LANG_ADD_A_NEW_RECRUIT}></a></li>
</ul>

<{if count($objects) > 0}>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
	<{foreach item=obj from=$objects}>
    <dl class="widelist">
	  	<dt><{$obj->getShow('rating')}> <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->get('recruit_id')}>"><{$obj->getShow('title')}></a></dt>
	  	<dd class="subInfo">
		  	<ul>
				<{if $obj->mGroup}><li><{$obj->mGroup->getShow('title')}></li><{else}>
				<li><{$obj->getShow('uid')|xoops_user:user_name}></li><{/if}>
				<li><{$obj->getShow('posttime')|xoops_formattimestamp:m}></li>
		    </ul>
		  </dd>
	  	<dd class="description"><{$obj->get('description')|strip_tags|mb_substr:0:100}></dd>
  	</dl>
	<{/foreach}>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<{/if}>
</div>
