<div id="rpglink">
<h1><{$smarty.const._MD_RPGLINK_LANG_LINK_EDIT}></h1>
<{if $actionForm->hasError()}>
  <ul class="error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>
<form action="<{xoops_cooluri dirname=$dirname dataname=link action=edit}>" method="post" enctype="multipart/form-data">
  <dl>

  <{xoops_input type=hidden name=LINK_ID value=$actionForm->get('link_id')}>

  <dt class="required"><{$smarty.const._MD_RPGLINK_LANG_SITE_NAME}></dt>
  <dd><{xoops_input type=text name=title value=$actionForm->get('title') size=20 maxlength=255 class="required"}></dd>

  <dt><{$smarty.const._MD_RPGLINK_LANG_URL}></dt>
  <dd><{xoops_input type=text name=url value=$actionForm->get('url') size=40 maxlength=255}></dd>

  <dt><{$smarty.const._MD_RPGLINK_LANG_BANNER}></dt>
  <dd><{xoops_input type=text name=banner value=$actionForm->get('banner') size=40 maxlength=255}></dd>

  <dt><{$smarty.const._MD_RPGLINK_LANG_RSS}></dt>
  <dd><{xoops_input type=text name=rss value=$actionForm->get('rss') size=40 maxlength=255}></dd>
  <dt><{$smarty.const._MD_RPGLINK_LANG_PREF_ID}></dt>
  <dd><select name="pref_id">
	<{legacy_category_select tree=$Pref_idTree selectedValue=$actionForm->get('pref_id')}>
  </select></dd>
  <dt><{$smarty.const._MD_RPGLINK_LANG_DESCRIPTION}></dt>
  <dd><{xoops_dhtmltarea type=text name=description value=$actionForm->get('description') editor=html}></dd>

    <dt></dt>
    <dd>
      <{xoops_token form=$actionForm}>
      <{xoops_input type=hidden name=link_id value=$actionForm->get('link_id')}>
      <input type="submit" value="<{$smarty.const._SUBMIT}>" />
      <input type="submit" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel" />
    </dd>
  </dl>
</form>
</div>
